
* a
{

    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
  text-decoration: none;
  

}
#buttons
{
    margin-top:2px;
    padding:5px;
    margin-left: px;
}
body{
    background-color: #d6d6d6;
}
.sh{
    border: 1px solid;
    background-color: #343a40d4;
    display: flex;   
    justify-content: center;
    border-radius: 10px;

}
#array
{
    border-radius: 5px;
    height:30px;
    border-style: none;
    padding: 5px;
    
}

.contain{
    padding: 20px;
    background-color:#aaaaaa;
    margin-top: 2px;
    border-radius: 10px;
}

#heading{
    text-align: center;
    color:rgba(0, 136, 91, 0.859);
    text-shadow:2px 1px #343A40;
}

nav .navbar {
    width: 100%;
    height: 50px;
    background-color:#343a40b2;
    border-radius: 10px;
    
}
.btn{
    border-radius: 5px;
    width: 100px;
    height: 28px;
    background-color: rgba(12, 170, 117, 0.866);
    border-style: none;
}
.btn-1{
    border-radius: 5px;
    width: 130px;
    height: 32px;
    background-color: rgba(12, 170, 117, 0.866);
    border-style: none;
    font-size: 16px;
}

.menu {
    margin-left: 80px;
   width:400px;
   padding:18px;
  display: flex;
  justify-content: space-evenly;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.986);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:13px;
}
.heading h3{
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading h1{
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading
{
    
    height:200px;
    background-color: #645757c6;
    border-radius: 10px;
    margin-top: 2px;
}
.choose p
{
    width:400px;
    height:30px;
    background-color: rgba(0, 255, 136, 0.797);
    border-radius: 20px;
    border-width: 0;
    text-align: center;
    justify-content: center;
    padding-top: 5px;padding:10px;
margin-left: 350px;
}
.sort-techniq
{
    display:flex;
    justify-content: space-around;
    border-radius: 15px;
}

.sort img 
{
    border-radius: 10px;
  
}.sort p{
    text-align: center;
}
.sort h3{
  text-align: center;
}
.btn-sort
{
    width:200px;
    height:30px;
    background-color: rgba(0, 182, 112, 0.832);
    border-radius: 5px;
    border-style: none;

}
.sort-border
{
    padding: 20px;
    background-color: rgba(240, 255, 255, 0.577);
    border-radius: 20px;
}